body{
    background-color:greenyellow;
    font-family: Oswald;
}

footer{
    background-color: black;
    color:aliceblue;
    position:fixed;
    bottom:0;
    width: 100%;
    height: 2rem;
}

footer p {
text-align: center;
font-size
margin-top: 0.5rem;
}